{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
    <div class="jumbotron bg-white  mt-4 col-md-8 mx-auto">
        <div>
            <h3> {{object.question_text}} </h3>
            <p>{{object.question_description|linebreaks}}</p>
            <p class="text-muted"> asked by
                <a href="{% url 'user_detail' object.asked_by %}">{{object.asked_by}}</a>
                {{object.asked_datetime|timesince}} ago </p>
            <p class="text-muted">edited {{object.edited_datetime|timesince}} ago</p>

            {%  if object.asked_by == request.user %}
            <a class=" " href="{% url 'question_edit' object.pk %}">Edit</a>
            {% endif %}
            <br><br>
            <p> Number of Answers: {{ answers.count }}</p>
        </div>
    </div>
</div>

<div class="container">
    <hr> {% for answer in answers %}
    <div class="shadow card border-primary  mt-4 col-md-8 mx-auto">
        <div class="card-body">
            <p>{{answer.answer_text|linebreaks}}</p>
            <p class="text-muted text-right mb-0"> answered by
                <a href="{% url 'user_detail' answer.answered_by %}">
                    {{answer.answered_by}}
                </a> <br>
                {{answer.answered_datetime|timesince}} ago </p>
        </div>
    </div>
    {% endfor %}



</div>


{% if user.is_authenticated %} {% if form %}
<div>
    <div class="container">
        <!-- Large modal -->
        <button type="button" class="btn btn-primary btn-block mt-4 col-md-8 mx-auto" data-toggle="modal"
            data-target=".bd-example-modal-lg">
            Submit an Answer
        </button>
    </div>
    <div class="modal fade bd-example-modal-lg mx-auto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg col-md-8 mx-auto" role="document">

            <!--answer form-->

            <div>
                <div class="modal-content card shadow border-primary mt-4  mx-auto">
                    <div class="card-body">
                        <form class="form-group" action="" method="post">

                            {% csrf_token %} {{form|crispy}}
                            <button class="btn btn-primary btn-block" type="submit">Submit Answer</button>
                            <button type="button" class="btn btn-secondary btn-block"
                                data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>

        </div>
    </div>


</div>
{% endif %} {% endif %}
{% endblock %}