{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
    <div class="jumbotron bg-white  mt-4 col-md-8 mx-auto">
        <div>
            <h3> {{object.question_text}} </h3>
            <p>{{object.question_description|linebreaks}}</p>
            <p class="text-muted"> asked by
                <a href="{% url 'user_detail' object.asked_by %}">{{object.asked_by}}</a>
                {{object.asked_datetime|timesince}} ago </p>
            <p class="text-muted">edited {{object.edited_datetime|timesince}} ago</p>

            {%  if object.asked_by == request.user %}
            <a class=" " href="{% url 'question_edit' object.pk %}">Edit</a>
            {% endif %}
            <br><br>
            <p> Number of Answers: {{ answers.count }}</p>
        </div>
    </div>
</div>

<div class="container">
    <hr> {% for answer in answers %}
    <div class="shadow card border-primary  mt-4 col-md-8 mx-auto">
        <div class="card-body">
            <p>{{answer.answer_text|linebreaks}}</p>
            <p class="text-muted text-right mb-0"> answered by
                <a href="{% url 'user_detail' answer.answered_by %}">
                    {{answer.answered_by}}
                </a> <br>
                {{answer.answered_datetime|timesince}} ago </p>
        </div>
    </div>
    {% endfor %}


    <!--answer form-->
    {% if user.is_authenticated %} {% if form %}



    <div>
        <div class="shadow card border-primary  mt-4 col-md-8 mx-auto">
            <div class="card-body">
                <form class="form-group" action="" method="post">

                    {% csrf_token %} {{form|crispy}}
                    <button class="btn btn-outline-primary btn-block" type="submit">Submit Answer</button>
                </form>
            </div>
        </div>
    </div>
    <br> {% endif %} {% endif %}
</div>



{% endblock %}