{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="container ">
    {% for question in object_list %}
    <div class="card border-primary  mt-4 col-md-8 mx-auto">
        <div class="card-body">

            <h4> <a href="{% url 'question_detail' question.pk %}">{{question.question_text}}</a> </h4>
            <p>{{question.question_description|linebreaks}}</p>
            <p class="text-muted"> asked by
                <a href="{% url 'user_detail' question.asked_by %}">{{question.asked_by}}</a>,
            </p>{{question.asked_datetime|timesince}} ago </p>

        </div>
    </div>
    {% empty %}
    <p>Nothing Here</p>
    {% endfor %}
</div>


{% endblock %}