{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
    <div class="mt-4 col-12 col-md-10 col-lg-8 mx-auto">
        <div class="row">
            <button class="btn   " type="button" data-toggle="collapse" data-target="#collapseSortAndFilter"
                aria-expanded="false" aria-controls="collapseSortAndFilter">
                <i class="gg-select-o"></i>
            </button>

        </div>
        <div class="collapse" id="collapseSortAndFilter">
            <div class="card-body text-center row">
                <i class="mx-auto">Sort by :</i>
                <a class="mx-auto" href="{% url 'index' %}">Most Recent</a> |
                <a class="mx-auto" href="{% url 'sort_by_ans_count' %}">Most Answered</a> |
                <a class="mx-auto" href="{% url 'sort_by_likes_count' %}">Most Liked </a>
            </div>

            {% if user.is_authenticated %}
            <div class="card-body text-center row">
                <i class="mx-auto">Filter by :</i>

                <a class="mx-auto" href="{% url 'asked_by_user' %}">My Questions </a>|
                <a class="mx-auto" href="{% url 'liked_questions_list' %}">Liked by me </a>|
                <a class="mx-auto" href="{% url 'unanswered_questions_list' %}">Unanswered </a>
            </div>
            {% endif %}

        </div>
    </div>

    {% for question in object_list %}
    <div class="shadow card border-primary mt-4 col-12 col-md-10 col-lg-8 mx-auto">
        <div class="card-body">
            <h4>
                <a href="{% url 'question_detail' question.pk %}">{{question.question_text}}</a>
            </h4>
            <p>{{question.question_description|linebreaks|truncatewords_html:5}}</p>
            <p class="text-muted float-left my-0 mr-2">
                {{question.answer_set.count}} Answers
            </p>

            <p class="text-muted float-right my-0 ml-2">
                {{question.asked_datetime|timesince}} ago
            </p>
            <p class="text-muted float-right my-0 ml-2">
                Asked by
                <a href="{% url 'user_detail' question.asked_by %}">{{question.asked_by}}</a>
            </p>
            <p class="text-muted float-left my-0 mr-2">
                {{question.likes.count}} likes
            </p>
        </div>
    </div>
    {% empty %}
    <p>Nothing Here</p>
    {% endfor %}
</div>

{% endblock %}