{% extends "base.html" %} {% block content %}

<div class="container ">
    <br>


    <div class="card border-primary  mt-4 col-md-8 mx-auto">
        <div class="card-body">
            <h1 class=> {{ user.username }}</h1>
            <h4 class="text-muted">{{ user.get_full_name }}</h4>
            <h4 class="text-muted">Member since : {{ user.date_joined }}</h4>
            <br>
            <a href="{% url 'user_questions_list' user.username  %}">
                <h3>Recent Questions by user</h3>
            </a>
            <br>
            <a href="{% url 'user_answers_list' user.username  %}">
                <h3>Recent Answers by user</h3>
            </a>
        </div>
    </div>

</div>


{% endblock %}